.friendList {
    display: flex;
    margin-top: 30px;
    gap: 15px;
    font-weight: 500;
    line-height: 2;
    font-size: 1.5em;
  }
  
  .friendListCard {
    width: 20%;
    padding-top: 15px;
    border: 1px solid rgb(88, 83, 83);
    border-radius: 4%;
    background-color: #efeff3cc;
  }
  
  .friendListText {
    color: #000;
  }
  
  .online {
    color: green;
  }
  
  .ofline {
    color: red;
  }
  