#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 0.3s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

._profile_1tzbh_1 {
  font-weight: 500;
  line-height: 2;
  text-align: center;
  font-size: 1em;
  max-width: 320px;
  background-color: #efeff3cc;
  padding-top: 27px;
  border-radius: 2%;
  border: 3px solid rgb(88, 83, 83);
  color: #000;
}

._profileWrap_1tzbh_17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._profileAcent_1tzbh_24 {
  font-weight: 700;
}

._profileList_1tzbh_28 {
  display: flex;
  align-items: center;
}

._profileListItem_1tzbh_33 {
  display: flex;
  flex-direction: column;
  border-left: 3px solid rgb(88, 83, 83);
  border-top: 3px solid rgb(88, 83, 83);
  background-color: #b8aeae;
  color: #000;
  width: calc(100% / 3);
  padding: 10px;
}

._profileListItem_1tzbh_33:first-child {
  border-left: none;
}

._profileLigth_1tzbh_48 {
  color: #585353;
}

._profileImage_1tzbh_51 {
  border-radius: 250px;
  background-color: #000;
  border: 3px solid rgb(35, 37, 35);
  width: 150px;
  margin-bottom: 10px;
}

._friendList_j9zw3_1 {
  display: flex;
  margin-top: 30px;
  gap: 15px;
  font-weight: 500;
  line-height: 2;
  font-size: 1.5em;
}

._friendListCard_j9zw3_9 {
  width: 20%;
  padding-top: 15px;
  border: 1px solid rgb(88, 83, 83);
  border-radius: 4%;
  background-color: #efeff3cc;
}

._friendListText_j9zw3_17 {
  color: #000;
}

._ofline_j9zw3_20 {
  color: red;
}

._online_j9zw3_24 {
  color: green;
}

._table_vzimm_1 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 20px;
  box-shadow: 0 4px 8px #0000001a;
}

thead th {
  background-color: #e5e9eb;
  color: #000;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  position: relative;
}

thead th:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}

tbody td:first-child {
  border-left: 1px black;
}

tbody td:last-child {
  border-right: 1px solid black;
}

tbody tr:hover {
  background-color: #ecf0f1;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid black;
  position: relative;
}

tbody td:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}

tbody:nth-child(2n) {
  background-color: #ecf0f1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}


*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: searchfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}  
